{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}{/block}

<!--内容-->
{block name="main"}

<section class="banner-bottom">
	<div class="container">
		<h3 class="tittle">
			{include file="public/title" /}
		</h3>
		<div class="row inner-sec">
			<img src="/static/index/images/brand/i1.jpg" width="100%" alt="">
			<p style="padding: 50px 0;">一纸馋隶属于成都餐协餐饮管理有限公司，公司于二零一二年在享有“美食之都”之称的成都成立，是经工商、税务、环保等部门登记注册的一家独立性集团化食品技术研发有限公司。成都餐协坚持以餐饮管理服务为本、坚持多元化发展方向、坚持以市场经营为导向，在稳步发展中不断创新，追求卓越，形成专业化服务、人性化管理、科学化发展的经营格局，短短五年时间，成都餐协凭借良好的品牌优势和专业诚信的优质服务成为餐饮界新贵，并不断扩大自己的经营空间。成都餐协拥有集运营管理、技术培训以及服务支持为一体的完整运营体系，实现了大陆业务无缝式链接，地域覆盖无盲区的目标。集团自成立以来始终为成为中国更绿色更健康的餐饮运营服务商而努力，坚持“为顾客创造价值，与顾客共同成长”的宗旨，“任人唯贤、唯才是举、选贤任能、用人所长”的人才观，吸引了大批人才，组建了一支注重实干、讲求效率的优良团队。我们的团队秉承“精品、服务、质量”的企业信条，把优质的产品和服务提供给客户，不断演绎着美食的至高境界，为社会创造财富和效益。</p>
			<img src="/static/index/images/brand/i2.png" width="100%" alt="">
		</div>
		<div class="row inner-sec">
			<div class="col-lg-6 about-img" data-aos="flip-right">
				<img src="/static/index/images/brand/i3.png" class="img-fluid" alt="">
			</div>
			<div class="col-lg-6 about-info text-left" data-aos="flip-left" >
				<h4 class="sub-hd mb-4">一纸馋纸包鱼<br><span style="font-size: 0.5em;">一纸馋隶属于成都餐协餐饮管理有限公司</span></h4>
				<p>用品质与内涵走入大众视线。成都餐协高薪聘请做鱼大师-曾国立，将“潮流”、“分寸”、“私享”、“精致”等时尚概念，融入纸包鱼打造之中。用极客的心态，进行尺寸的把玩，以克制成巨制，用匠心承初心。蒜香纸包鱼、麻辣纸包鱼、香辣纸包鱼以及各种地域风情纸包鱼，玩转纸包鱼全能。</p>
			</div>
		</div>
		<div class="row inner-sec">
			<div class="col-lg-6 about-img" data-aos="flip-right">
				<p>一纸馋纸包鱼的今天由无数个辛勤的昨天完美诠释，一纸馋纸包鱼的明天由无数个拼搏的今天来精彩续写。一纸馋人用激情、诚信创新、责任、专注、奉献的精神演绎美食的境界，与无数的梦想追逐者一起努力打造属于我们的成功！</p>
			</div>
			<div class="col-lg-6 about-info text-left" data-aos="flip-left" >
				<img src="/static/index/images/brand/i4.png" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</section>

{/block}

{block name="model"}{/block}